h1, h2, h3, h4, h5, h6, p {
    font-family: 'Poppins';
    color: #fff; 
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

header {
  background-image: url('./header.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;

}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.desk_img {
    max-height: 500px;
    width: auto;
}


   @media (max-width: 768px ) {
        .image_section::before {
            top: 3%; 
            left: 2%; 
            width: 100%; 
        }
    }

.image_section img {
    display: block; 
    border-radius: 10%;
}

body {
    background: #212121
}
 .header_link {
    color: #fff;
    font-size: 18px;
    text-decoration: none;
}
.about_me_header {
    color: #4C70EF; 
}

.info_link {
    color: #6583f0; 
    font-weight: 600;
}

.info_link:hover {
    text-decoration: underline;
}

.circle {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #ccc;
    display: flex; 
    justify-content: center;
    align-items: center;
    font-size: 24px;
}

i {
    color: #000; 
}

.skills_box {
    background-color: #292C36;
    border-radius: 15%;
    width: 400px; 
    height: 240px; 
}

.resume {
    background-color: #292C36;
    border-radius: 5%;
   padding: 25px; 
   width: 50%; 
}
.icon_section {
    background-color: #38405A;
    border-radius: 15px;
    padding: 20px; 
    display: inline-block;
}

.icon {
    height: 42px; 
    width: 42px; 
    display: block; 
}

.project_card {
    background-color: #292C36; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
    border-radius: 10px;
}

.project_card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
}


.project_card img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
}

footer {
    background-color: #292C36;
    width: 100vh; 
}

footer a {
    color: #7592fa
}

.cert_icon {
    max-height: 200px;
}


