 header,footer {
    background-color: #70BEBC;
}
h1, h3 {
    text-align: center;
}
body {
    background-color: #F8F4DE;
}
header li {
    list-style: none; 
    margin: 15px;
}
header li a {
    text-decoration: none; 
    font-size: 24px; 
    color: black; 
}
i {
    font-size:36px;
}
footer a {
    text-decoration: none; 
    color: inherit; 
    margin-right: 20px;
    font-size: 24px;
}
footer h1 {
    margin-right: 20px;
}
.portfolio_purpose,
.my_journey,
.my_skills,
.projects {
    width: 50%; 
}
.my_journey h1, .my_skills h1 {
    text-align: center;
}
.my_skills p {
    text-align: left;
}
.projects p, .projects h1, .projects h3 {
    text-align: center;
}
.portfolio_purpose_paragraph {
    padding: 30px;
}
.project_description {
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer a:hover i {
    color: #017bff; 
    transform: scale(1.1); 
}

.portfolio_purpose_paragraph {
    border: 2px solid black;

}
.my_skills h3 {
    text-align: left;
}
h1 {
    text-align: center; 
    font-family: 'Merriweather';
    font-size: 36px; 
}
header h1 {
    font-size: 24px;
}
h3 {
    font-family: 'Merriweather';
}
p {
    font-size: 16px;
    font-family: 'Roboto';
    padding: 15px;
}
.my-divider {
        height: 5px;         
        background-color: black; 
        margin-top: 20px;
        margin-bottom: 20px; 
}
footer a {
    margin-left: 50px;
}
footer a:hover {
    text-decoration: none;
    color: #C81E40; 
    display: inline-block; 
    transition: background-color 0.3s;
}
.project h3, .project h4{
    color: #333;
}

.project p {
    margin-bottom: 10px;
}

.project ul {
    list-style-type: disc;
    margin-left: 20px;
}
.projects {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.button {
    padding: 10px 20px;
    margin-top: 20px;
    font-size: 16px;
    margin-left: 50px;
    color: #fff;
    background-color: #007bff;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 25%; 
}
iframe {
    width: 50%; 
    height: auto; 
    min-height: 1050px;    
    border: none; 
}
.button:hover {
    background-color: #0056b3;
}




