/* Body and Global Styles */
body {
    background-color: #F8F4DE;
}

h1, h3 {
    text-align: center;
    font-family: 'Merriweather';
}

h1 {
    font-size: 48px; 
}

h3 {
    font-size: 24px;
}

p {
    font-size: 20px;
    font-family: 'Cardo';
    padding: 25px;
    line-height: 150%;
    max-width: 90ch;
}



/* Header Styles */
header {
    font-family: 'Merriweather'; 
    background-color: #70BEBC;
    top: 0; 
    position: sticky;
}
header a {
    text-decoration: none; 
    font-size: 24px; 
    color: black; 
}

header a:hover {
    color: white; 
}
header h1 {
    font-size: 36px;
}

/* Footer Styles */
footer {
    font-family: 'Merriweather'; 
    background-color: #70BEBC;
    color: #000; 
}

footer a {
    text-decoration: none; 
    font-size: 36px;
    margin: 15px
}

footer h1 {
    margin-right: 20px;
}

footer i {
    font-size: 48px; 
}
footer a:hover, footer a:hover i {
    transform: scale(1.1); 
    text-decoration: none;
    display: inline-block; 
    transition: background-color 0.3s;
    color: #fff;
}

/* Specific Sections Styles */
.portfolio_purpose,
.my_journey,
.my_skills,
.projects {
    width: 50%; 
}

.projects {
    display: flex; 
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.my_journey h1, 
.my_skills h1 {
    text-align: center;
}

.my_skills p, 
.my_skills h3 {
    text-align: center;
}

.portfolio_purpose_paragraph,
.project_description {
    padding: 30px;
    border: 2px solid black;
}

.my-divider {
    height: 5px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
.third_row {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
}

.my_skills {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%; 
    max-width: 1000px;
}

.my_skills > div {
    flex: 1; 
    padding: 0 20px; 
}

/* Project card styles */ 
.projects {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;  
    width: 100%;
    padding: 20px; 
}

.project-card h5 {
    text-align: center;
    font-size: 24px; 
}
.project-card {
    background-color: #f8f8f8;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);  
    overflow: hidden;
    align-items: center;
    transition: transform 0.2s;
}

.project-card:hover {
    transform: scale(1.05);
}

.project-card img {
    width: 100%; 
    border: 2px solid #ddd;
    height: 320px; 
    object-fit: cover;
}

/* Button Styles */
.button {
    padding: 10px 20px;
    margin: 10px auto;  
    font-size: 16px;
    color: #fff;
    background-color: #E22728;
    text-align: center;
    text-decoration: none;
    font-size: 18px; 
    border-radius: 5px;
    transition: background-color 0.3s ease;
    display: block;  
    width: 50%;  
}


.button:hover {
    background-color: #be1616;
}

/* Iframe Styles */
iframe {
    width: 50%;
    height: auto;
    border: none;
}



