body {
    background-color: #F8F4DE;
    padding: 0; 
    margin: 0; 
    filter: none;
}

/* Header Styles */
header {
    background-color: #70BEBC;
    top: 0; 
    position: sticky;
}

header h1 {
    font-size: 36px;
    padding: 0;
}
header a {
    text-decoration: none;
    font-size: 24px;
    color: black;
}
header a:hover {
    color: white;
}
/* Footer Styles */
footer {
    background-color: #70BEBC;
}

footer a {
    text-decoration: none; 
    color: inherit; 
    font-size: 42px;
    margin: 15px
}

footer h1 {
    margin-right: 20px;
    font-size: 42px; 
}

footer a:hover, footer a:hover i {
    transform: scale(1.1); 
    text-decoration: none;
    display: inline-block; 
    transition: background-color 0.3s;
    color: #fff;
}
#first_project, #second_project, #third_project, 
#forth_project, #fifth_project, #sixth_project, 
#seven_project, #web_accessibility_focus {
    max-width: 80%;  
    width: 80%;  
    margin: 20px auto;  
    padding: 20px;
    background: #fff;
    min-height: 100vh;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.media-row {
    display: flex;
    justify-content: space-around; 
    align-items: center; 
}

iframe {
    width: 100%; 
    height: 1000px; 
    border: none;
}


.project h3, .project h4{
    color: #333;
}

.project p {
    margin-bottom: 10px;
}

.first_project ul {
    list-style-type: disc;
    margin-left: 20px;
}

.color-palette {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.color-swatch {
    width: 50px;
    height: 50px;
    border: 1px solid #ccc;
}

h1 {
    text-align: center;
}

/* Button Styles */
.button {
    padding: 10px 20px;
    margin-top: 20px;
    margin-left: 50px;
    font-size: 16px;
    color: #fff;
    background-color: #E22728;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 25%; 
}

.button:hover {
    background-color: #be1616;
}
.planning-icon {
    color: #fd7e14;
}
.coding-icon {
    color: #28a745; 
}
.demo-icon {
    color: #dc3545; 
}
.server-icon {
    color: #6f42c1; 
}
.accessibility-icon {
    color: #007bff; 
}
.my-divider {
    height: 5px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}
body {
    font-family: 'Cardo', serif;
}
h1, h2, h3 {
    font-family: 'Merriweather', serif;
}

.my-divider {
    height: 5px;
    background-color: black;
    margin-top: 20px;
    margin-bottom: 20px;
}

body.dark-mode {
    background-color: #4B5563;
    color: #F8F4DE; 
}
body.grayscale-mode {
    filter: grayscale(100%);
    background-color: #8A8A8A; 
}
body.high-contrast-mode {
    background-color: #000000; 
    color: #FFFFFF;            
    border-color: #FFFF00;     
}
body.dark-mode button  {
    background-color: #4682B4;
    color: #F8F4DE; 
}

body.dark-mode a {
    color: #F8F4DE; 
}

body.dark-mode header {
    background-color: #1A3D3A;
    color: #F8F4DE; 
}

body.high-contrast-mode header, body.high-contrast-mode footer {
    background-color: #000000; 
    color: #FFFFFF;            
}

body.high-contrast-mode button {
    background-color: #FFFF00; 
    color: #000000;           
    border: 2px solid #FFFFFF; 
}

body.high-contrast-mode a {
    color: #fff;           
}
body.high-contrast-mode a:hover {
    color: #FFFF00; 
}


body.dark-mode footer {
    background-color: #1A3D3A;
    color: #F8F4DE;
}

body.dark-mode #first_project, body.dark-mode #second_project,body.dark-mode #third_project, 
body.dark-mode #forth_project,body.dark-mode #fifth_project,body.dark-mode #sixth_project, 
body.dark-mode #seven_project,body.dark-mode #web_accessibility_focus {
    background-color: #2C3E50; 
}

body.high-contrast-mode #first_project, body.high-contrast-mode #second_project,body.high-contrast-mode #third_project, 
body.high-contrast-mode #forth_project,body.high-contrast-mode #fifth_project,body.high-contrast-mode #sixth_project, 
body.high-contrast-mode #seven_project,body.high-contrast-mode #web_accessibility_focus {
    background-color: #fff; 
    color: #000;
}

